* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-externa {
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
}

.cont-title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#section-title  {
    color: var(--dark-gray-2);
    font-size: 24px;
    font-weight: bold;
}

.cont-title-link .center {
    text-align: center;
    width: 100%;
}

.section-link {
    color: var(--primary);
    font-size: 18px;
    text-decoration: none;
}

.section-interna {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-interna img {
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

