.container {
    width: 700.73px;
    height: 687px;
    margin-right: 40px;
    position: relative;
}

.imgPrincipal {
    width: 700.73px;
    height: 571px;
    background-color: #E2E3FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16.73px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.imgPrincipal button {
    all: unset;
    height: 100%;
}

.imgPrincipal button.mediaLeft {
    display: none;
}

.imgPrincipal button.mediaRight {
    display: none;
}

.imgPrincipal button:hover {
    background-color: #E2E3FF;
    opacity: 70%;
}

.imgPrincipal img {
    width: 498.42px;
    height: 248px;
}

.imgSecundarias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700.73px;
}

.imgSecundarias .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117.81px;
    height: 96px;
    background-color: #E2E3FF;
    border-radius: 4px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.imgSecundarias .img img {
    width: 83.8px;
    height: 41.7px;
}


