body{
    background-color: #D8E3F2;
}
.cont-imagem-txto{
    width: 292px;
    height: 321px;
    align-items: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    ba
    background-size: contain;
    
}

