/* config Geral */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* cores */
    --dark-gray:#1F1F1F;
    --dark-gray-2:#474747;
    --dark-gray-3:#666666;
    --light-gray:#8F8F8F;
    --light-gray-2:#cccccc;
    --light-gray-3:#F5F5F5;
    --primary:#C92071;
    --secondary:#B5B6F2;
    --error:#EE4266;
    --success:#52CA76;
    --warning:#F6AA1C;
    --primary-gradient:linear-gradient( to right,#C92071,#EDABCA);
    --secondary-gradient:linear-gradient( to right,#B5B6F2,#EFEFFF);
    --white:#FFFFFF;
    --Tertiary:#991956;

    /* borda */
    --borda-redonda:8px

}
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    background-color: #F9F8FE;
    
}
