/* container pai da galeria */
.galleria-promo{
    background-color: var(--light-gray-3);
 }


 /* parte dos conteudo dentro da galeria */
 .conteudo-galeria{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .texto-galeria{
     width: 500px;
     color: var(--dark-gray);
 }
 .texto-galeria h2{
     font-size: 4rem;
     font-weight: bold;
 }
 .alerta-promo{
     color: var(--warning);
 }
 .detalhe-galeria{
     color: var(--dark-gray-2);
 }
 .btn-primary{
     background-color: var(--primary);
     padding: 10px 50px;
     border-radius: 8px;
     border: none;
     font-size: 16px;
     color: var(--white);
     text-decoration: none;
 }
 /* indicador */
 #cont-indicators .indicador{
     background-color: var(--light-gray-2);
     border-radius: 50%;
     padding: 7px;
     width: 0;
     height: 0;
 
 }
 #cont-indicators .active{
     background-color: var(--primary);
 }
 
 /* ClassName centralizado */

.centro #container-galeria{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
/* preview das iamgnes*/
.container-preview {
    width: 1000px;
}

#cont-preview {
    bottom: -125px;
}
.img-preview{
    width: 100%;
    height: 100%;
}

#cont-preview .indicador{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    opacity: 1;
    
    
}
.img-preview{
    width: 95%;
    height: 95%;
}
#cont-preview  .active{
    background-color:  var(--primary);
}

